:root {
    --font-size-button: 1rem;
    --font-weight-button: 500;

    --button-radius: 0.25rem;

    --primary-background: var(--color-primary)
    --primary-hover-background: var(--color-primary-Focus)
    --primary-background-negative: var(--color-primary-Negative)
    --primary-background-disabled: var(--grey-100)
    --primary-hover-background-disabled: var(--grey-300)

    --button-collor: #FFFFFF;

}