.formLogin{
    width: 90%;
    max-width: 23.125rem;
    min-width: 18.75rem;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1.875rem;

    margin: 0 auto;
    background-color: var(--grey-600);
    padding-block: 3rem;

    p{
        color: var(--grey-100);
        font-size: 12px;
        font-weight: 600;
    }

    h2{
        color: var(--grey-0);
        font-size: var(--font-size-t1);
        font-weight: var(--font-weight-bold);
    }

    div{
        display: flex;
        flex-direction: column;
        min-width: 90%;
        align-items: center;
        gap: .625rem;

        label{
            color: var(--grey-0);
            align-self: flex-start;
            font-size: 12px;
        }

        input {
            box-sizing: border-box;
            width: 90%;
            min-width: 100%;
            height: 3.125rem;
            background-color: var(--grey-300);
            border-radius: var(--button-radius);
            border: 1px solid var(--grey-0);
            padding-inline: 1rem;
            color: var(--grey-0);
            font-size: var(--font-size-t2);
        }

        input:-webkit-autofill {
            -webkit-box-shadow: 0 0 0 30px var(--grey-300) inset;
            -webkit-text-fill-color: var(--grey-0) !important;
        }        

        p{
            color: var(--negative);
            align-self: flex-start;
        }
    }

    .loginButton{
        height: 48px;
        border-radius: var(--button-radius);
        background-color: var(--color-primary);
        font-size: var(--font-size-t2);
        font-weight: 500;
        color: var(--grey-0);
        width: 90%;
        cursor: pointer;
        border: none;
    }

    .loginButton:hover{
        background-color: var(--color-primary-Focus);
    }

    .registerButton{
        display: flex;
        justify-content: center;
        align-items: center;
        height: 48px;
        border-radius: var(--button-radius);
        background-color: var(--grey-100);
        color: var(--grey-0);
        text-decoration: none;
        font-size: var(--font-size-t2);
        font-weight: 500;
        width: 90%;
        cursor: pointer;
    }

    .registerButton:hover{
        background-color: var(--grey-300);
    }
}