.container {
    display: flex;
    flex-direction: column;
    
    header{
        width: 90%;
        max-width: 48.4375rem;
        margin: 0 auto;
        height: 4.5rem;

        display: flex;
        justify-content: space-between;
        align-items: center;

        button {
            width: 4.25rem;
            height: 2.5rem;

            color: var(--grey-0);
            background-color: var(--grey-600);
            border-radius: var(--button-radius);
            border: none;
            cursor: pointer;
        }

        button:hover{
            background-color: var(--grey-300);
        }
    }

    section{
        border-block: 1px solid var(--grey-600);

        div{
            width: 90%;
            max-width: 48.4375rem;
            margin: 0 auto;
            height: 7.5rem;

            display: flex;
            justify-content: space-between;
            align-items: center;

            h2{
                color: var(--grey-0);
                font-size: var(--font-size-t1);
                font-weight: var(--font-weight-bold);
            }
    
            p{
                color: var(--grey-100);
                font-size: .75rem;
                font-weight: 600;
            }

        }

    }

    main{
        padding-top: 1rem;
        width: 90%;
        max-width: 48.4375rem;
        margin: 0 auto;
        margin-bottom: 5rem;

        display: flex;
        flex-direction: column;
        gap: 2rem;

        div{
            display: flex;
            justify-content: space-between;
            height: 2rem;
            align-items: center;

            h2{
                color: var(--grey-0);
                font-size: var(--font-size-t2);
                font-weight: 600;
            }

            button {
                height: 100%;
                background-color: var(--grey-600);
                border: none;
                border-radius: var(--button-radius);
                width: 2rem;
                cursor: pointer;
                box-sizing: border-box;
            }

            button:hover{
                background-color: var(--grey-300);
            }
        }
    }
}